body, html {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 3em;
    font-weight: 300;
}

.bold {
    font-weight: 700;
    font-style: italic;
}

.center {
    text-align: center;
}

.title {
    font-weight: 700;
    font-style: italic;
}

.counter {
    margin-top: 20px;
}

.app-card {
    -webkit-box-shadow: 15px 15px 50px -10px rgba(179,179,179,0.54);
    -moz-box-shadow: 15px 15px 50px -10px rgba(179,179,179,0.54);
    box-shadow: 15px 15px 50px -10px rgba(179,179,179,0.54);
    border-radius: 30px;
    background-color: #fff;
    padding: 50px 0 90px 0;
    margin-top: 100px;
}

.inner-text {
    font-size: 1.7em;
    font-style: italic;
    max-width: 80%;
    margin: 0 auto;
}

.question-card {
    -webkit-box-shadow: 15px 15px 50px -10px rgba(179,179,179,0.54);
    -moz-box-shadow: 15px 15px 50px -10px rgba(179,179,179,0.54);
    box-shadow: 15px 15px 50px -10px rgba(179,179,179,0.54);
    border-radius: 30px;
    background-color: #fff;
    padding: 50px 0 50px 0;
    margin-top: 100px;
    background-image: linear-gradient(top, #253462, #253462 5%, transparent 5%, transparent 100%);
    background-image: -webkit-linear-gradient(top, #253462, #253462 5%, transparent 5%, transparent 100%) 
}

.question-text {
    font-size: 2.5em;
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-top: 50px;
}

.question-button-group {
    margin: 50px 0px;
}

.question-button {
    max-width: 250px;
}

.q {
    padding: 20px 40px;
    margin: 0;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-style: italic;
}

.q-yes {
    background-color: #4c7436;
    margin-right: 20px;
}

.q-somewhat {
    background-color: #D0B362;
}

.q-no {
    background-color: #b33a3b;
    margin-left: 20px;
}

.logo {
    margin-top: 225px;
}

.bg {
    background-image: url(img/journey_bg_blue.png);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Boostrap Override */

.container  {
    min-width: 900px;
}

.btn-primary {
    background-color: #253462;
    width: 100%;
    font-size: 1em;
    padding: 30px 0;
    border-radius: 20px;
    margin: 0 auto;
}

input[type=radio]{
    transform:scale(3);
  }

.progress {
    height: 30px;
    border-radius: 50px;
    margin-top: 120px;
}

.progress-bar {
    background-color: #253462;
}

footer {
    font-weight: 300;
    text-align: center;
    padding: 50px 0px;
}